
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
header {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

main {
  max-width: 840px;
  margin: 0;
  padding: 20px;
}

main img {
  width: 150px;
  height: auto;
  display: block;
  margin-bottom: 15px;
  border: 1px solid steelblue;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
  padding: 2px;
}

p {
  margin: 1rem;
}

main {
  max-width: 640px;
}

aside {
  width: 20em;
  position: relative;
  text-align: center;
}
aside h2{
  position: absolute;
  top:40px;
  left: 30px;
}

aside img {
  width: 200px;
  height: auto;
  display: block;
  margin-bottom: 15px;
}

p {
  padding: 0;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}
/*class selectors*/
.box{
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}
.indent{
  padding-left: 2rem;
}